
<!--Footer-->
<hr>
<footer class="page-footer font-small pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-3">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Contact Us!</h5>
                <p><i class="fa fa-envelope mr-3"></i> contactus@r.zootropolis.com</p>
                <p><i class="fa fa-phone mr-3"></i> (703) 506-2524</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

               <!--Social buttons-->
    <div class=" col-md-6 text-center">
      
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              
                <a class="btn-floating btn-sm btn-fb mx-2">
                    <i class="fa fa-facebook" style="font-size:30px;color:rgb(153, 225, 100)"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-tw mx-2">
                    <i class="fa fa-twitter" style="font-size:30px;color:rgb(153, 225, 100)"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-gplus mx-2">
                    <i class="fa fa-google-plus" style="font-size:30px;color:rgb(153, 225, 100)"> </i>
                </a>
            </li>
            
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-instagram mx-2">
                    <i class="fa fa-instagram" style="font-size:30px;color:rgb(153, 225, 100)"> </i>
                </a>
            </li>
        </ul>
        <p class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://revature.com"> R.Zootropolis.com </a>
            </p>
    </div>
    <!--/.Social buttons-->

            <!--Second column-->
            <div class="col-md-3 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Find Us!</h5>
                <p>
                    <a href="https://www.google.com/maps/place/Smithsonian+National+Zoological+Park/@38.9307714,-77.0533011,17z/data=!4m8!1m2!2m1!1ssmithonian+zoo!3m4!1s0x89b7b7d61dc7f0df:0x9e68ac204b0c1be4!8m2!3d38.9296156!4d-77.0497844">
                      <span class="glyphicon glyphicon-map-marker"></span>
                    </a>
                    2096 Dye St <br/>
                    Chandler, AZ 85225 <br/>
                    Hours: Mon-Sat: 8am-6pm
                  </p>
            </div>
            <!--/.Second column-->

        

        </div>
    </div>
    <!--/.Footer Links-->


</footer>
<!--/.Footer-->
                      